:host {
    display: block;
}

.repository_detail__list {
    display: grid;
    grid-template-columns: 100px 500px;
    column-gap: 5px;
    row-gap: 5px;
}

.repository_detail__list_key {
    color: #999;
}
